/* Body and structure
-------------------------------------------------- */
html,body{
    height: 99%
}

body {
  position: relative;
  padding-top: 0px; /* 40px to make the container go all the way to the bottom of the topbar */

}

body > .navbar {
  font-size: 13px;
  height: 65px;
}

.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  margin-top: 0px;
  float: left;
  width:220px;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 40px rgba(255,255,255,.4);
}

/* Main class container
-------------------------------------------------- */
.main{
    min-height: 70%;
    margin-top: 50px;
}

/* Header
-------------------------------------------------- */
.ajax-loader {
    display: none;
    margin-bottom: 0px;
    margin-left: 5px;
    float:left;
}

.user-menu{
    margin-left: 30px;
}

.user-menu div{
    margin-top: 0px !important;
}

/* Footer
-------------------------------------------------- */

.footer {
  min-height: 15%;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}


/* Login form
-------------------------------------------------- */
.well_login {
    width:500px;
    /*height:160px;*/
    outline:1px solid #CCC;
}

.login-form{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    padding-bottom: 5px;
    margin:0 auto;

}
.login-form label {
	float: left;
	width: 140px;
	text-align: right;
	padding-top: 8px;
	padding-right: 20px;
}
.login-form form .div_text {
	padding-top: 8px;
	padding-bottom: 5px;
}
.login-form form .button_div {
	padding: 10px;
	margin-left: 180px;
}

.login-form form a {
	margin-right: 120px;
	margin-top: 10px;
}

.login-form form .button_div input[type="checkbox"]{
    margin-bottom: 8px;
    margin-right: 5px;
}

.login-form form .div_text .input-prepend .username {
    padding-bottom: 4px;
    margin-top:0px;
    margin-left:-1px;
}
.login-form form .div_text .input-prepend .password {
    padding-bottom: 6px;
    margin-top: 0px;
    margin-left: -1px;

    height: 18px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
}

/**
 * This is to correct the text input boxes
 * for the bootstrap icon sprites
 */
.login-form form .div_text .input-prepend .username,
.login-form form .div_text .input-prepend .password,
.login-form form .div_text .input-prepend .textbox {
	width: 182px;
}


/*********************************************************
* Begin Categories part
*********************************************************/
.tags_cont_all{
    margin-right: 50px;
    display:inline-block;
    vertical-align:top;
    width: 233px;
    zoom:1 !ie;
    display:inline !ie;
}

.labls{
    margin-bottom: 5px;
    display: block;
}

.label_tag{
    text-align:center;
    margin-left:5px;
    font-size:14px;
    margin-top:5px;
    padding-top:7px;
    padding-left:5px;
    padding-right:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.close_orient{
    opacity: 0.6;
    margin-left:2px;
    font-size:15px!important;
}
.tags_orient{
    display:inline-block;
    float:left;
    margin-top:2px;
}
.border_none{
    margin:0;

}
.add_cat{
    margin-bottom:5px;

}
.tagAddButton{
    margin-top:0px!important;

}
.new_category_cont{
    border: 2px dotted #2F96B4;
}

#categories_s{
    display:none;
}
.text_size{
    width:500px;
    float:left;
    height:34px;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;

}
.cls{
    margin-top: -5px!important;
    margin-left: 5px;
}
.flt{
   float: left;
   width: 340px;
   height: 33px;
   overflow:hidden;

}
.margn_search{
    float:left;
    margin-left:5px;
    height:25px;
    font-size:16px;
    color:white;
    margin-top:3px;
    padding-top:3px;
    padding-left:3px;
    padding-right:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.text_search{
    width:140px!important;
    margin-top:2px!important;
    float:right!important;
    border:0!important;
    display:block;

}
.margn{
    margin-left:5px;
    margin-bottom:5px;
    display:inline-block;

}
.margn:hover{
    cursor:pointer;

}
.search_categories{
    text-align:center;
}
.btn_search{
    height:36px;
    margin-top:0!important;

}
.tabs-left1{
    float:none !important;
}
.search_categories{
    margin:0,auto;
}
.disp_none{
    display:none!important;
}
.category_name_hide{
    display:none;
}
.category_name_show{
    display:block;
}
.header_search{
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 20px;
    line-height: 25px;

}
/*********************************************************
* End Categories part
*********************************************************/
/*********************************************************
* Begin Search part
*********************************************************/
.categories{

   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   background-color: white;
   border: 1px solid #CCC;
   border: 1px solid rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   -webkit-background-clip: padding-box;
   -moz-background-clip: padding;
   background-clip: padding-box;

   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 20px;
   color: #333;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
}
.category_tags{
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    padding-right:5px;
    width:150px;
    min-height:50px;
    list-style:none;
    position:absolute;
    display:none;
    top:-20px;
    left:150px;
    background-color: white;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
.category_cont{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}
.category_cont:hover{
    cursor:pointer;
    color: white;
    text-decoration: none;
    background-color: #08C;
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top, #08C, #0077B3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
    background-image: -webkit-linear-gradient(top, #08C, #0077B3);
    background-image: -o-linear-gradient(top, #08C, #0077B3);
    background-image: linear-gradient(to bottom, #08C, #0077B3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

}
.category_cnt{
    position:relative;

}
.cat_tags{
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.cat_tags:hover{
    cursor:pointer;
    text-decoration:underline;
}
.floatLeft{
    float:left!important;
}
.hide_button{
    float:right;
    margin-right:63px;
 }
/*********************************************************
* End Search part
*********************************************************/
/*********************************************************
* Begin Message part
*********************************************************/
.hide{
    display:none;
}
.show{
    display:block;
}
.message_cont{
    padding:8px!important;

}
.message_data{
    float:right;
    margin-right:3px;
    font-size:8px;
    display:block;
}
.message_text{
    font-size:9px;
    line-height:16px;
    margin-bottom:5px!important;
}
.message_header{
    font-size:11px;
}
.message_button{
     margin:0 auto;

}
/*********************************************************
* End Message part
*********************************************************/
/*********************************************************
* Begin Add Group part
*********************************************************/
.listGroup{
    outline: 1px solid #CCC;
}
.groupsHeader{
    font-size:18px;
}
/*********************************************************
* End Add Group part
*********************************************************/

/*********************************************************
* Begin lift notices part
*********************************************************/
#lift__noticesContainer__ ul {
    list-style-type: none;
    margin: 0px;
}

#lift__noticesContainer__ p {
    margin: 0px;
}
.font_back{
    border: 1px solid #CACACA;
    background-color: white;
}
.notification_created{
    margin-left:20px;
    margin-top:10px;
}
.font{
    color: #666;
    font-size: 12px;
}
.notification_title{
    padding-left:30px;
    text-align: left;
    background: whiteSmoke;
}
.notification_body{
    text-shadow: none;
    color: #333;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
    margin-left:20px;
    margin-bottom:15px;
}
/*********************************************************
* End lift notices part
*********************************************************/

/*********************************************************
 * Begin file table part
 *********************************************************/
table.file-table {
	width:100%;
	font-size:12px;
	border-collapse:collapse;
}

.file-table td{
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#CCC;
	padding:2px;
}
tr.file-table-name{
	width:60%;
}
td.file-table-owner{
	width:10%;
}
td.file-table-rules{
	width:25px;
}
td.file-table-date{
	text-align:right;
	width:175px;
}
.inf_left{
    float:left;
    margin-left:3px;
    margin-top:3px;
    line-height:14px;
}
.inf_left_text{
    float:left;
    margin-left:3px;
    margin-top:0px;
}
.inf_left form{
    margin:0!important;
}
.edit_meta{
    width: 100%;
    margin: 0 auto;
}
.table_meta{
    border-collapse: separate!important;

}
.input_tags{
    margin-top: 5px;

}
.btn_add_metadata{
    margin-top:-10px!important;
    margin-left: -30px;
}

/*********************************************************
* End file table part
*********************************************************/
.metadata_key{
    border: 0;
    background: none!important;
    cursor: default!important;
    height: 100%;
}
.metadata_value{
    width:95%!important;
    margin-bottom: 0!important;
}

.close.remove_metadata{
    padding: 5px;
    margin-right:30px;
}

tr.metadata_form_header th{
    border:0!important;
}

.input_meta{
    width:210px!important;
}
.input_meta_add{
    width:280px!important;
    margin-right: 37px;
}

.description_box{
                 font-family:Arial;
                 font-size:9pt!important;
                 min-height:75px!important;
                 width:950px!important;
}



.root {
    width: 188px;
    margin: 10px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.root > li > a {
    display: block;
    font-weight: bold;
    width: 150px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.category ul{
    list-style: none;
    margin: 0 0 10px 5px !important;
}

.category ul li {
    display: inline-block;
    padding: 2px;
}

.tag > a:hover {
    color: #002a80;
}

.root > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.root > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.selected-tags-container {
    margin-left: 5px !important;
}

#selected_tags {
    padding: 2px !important;
    margin: 10px !important;
}

#selected_tags li {
    display: inline-block;
    padding: 2px;
    margin: 3px !important;
}

.sel-tag > a {
    opacity: 0.6;
}

.sel-tag > a:hover {
    opacity: 1;
}

.entry-meta {
    color: #666666;
    margin: 0;
}
.entry-datetime {
    color: #666666;
    font-size: 12px;
}

.search_results > div {
    margin-bottom: 30px;
    margin-left: 20px;
}

.pagination > ul {
    margin-left: 20px !important;
}

.result_tags ul {
    list-style: none;
}

.result_tags li {
    display: inline-block;
    padding: 2px;
    margin: 2px !important;
}

.inf_left_groups{
   float: left;
   margin-left: 5px;
   margin-top: 2px;
   margin-right: 5px;

}
.inf_right   {
    float: right;
    margin-left: 15px;
    margin-top: 2px;
    margin-right: 5px;
}
.add_group_form{
    margin-left:20px;
}
.name_group{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 32px;
    white-space: nowrap;
}
.last_changed{
    margin-left: 25px;
    font-size: 11px;
    color: #999999;
}
.description_group{
    margin-left: 20px;
    margin-top:0px;
    color: #666;
    font-size: 13px;
    font-style: italic;
    padding-top:5px;
}

.desc_panel {
height: 25px;
overflow: hidden;
}
.info_group{
    padding-top:8px;
}

.description_group_settings{
    margin-top: 0;
}

.name_group_settings{
    margin-top:0;
    padding:0;
}

.container_groups{
    width:80%;
    min-height: 65px;
}
.hr_group{
    margin:0!important;
    border-bottom: 1px solid #ddd!important;
    padding-bottom:10px;
    padding-top:10px;
}
.checkbox_public{
    margin-top: -4px!important;
    margin-left: 6px!important;
}
.active_hover{
    cursor:pointer;
    background-color:#CCC!important;

}
.short_description
{
     margin-left: 15px!important;
     font-size: 9px!important;
}

#metadata_container li {
    display: inline-block;
    padding: 2px;
    margin: 3px !important;
}
.input_metadata{
    width:210px;
}
#metadata_container {
    padding: 2px !important;
    margin: 10px !important;
}
#selected_metadata{
    display: inline-block;
    padding: 2px;
    width:100%;

}
#add_metadata_btn {
    margin-top:-10px;
}
.cursor_pointer {
    cursor:pointer;
}

.menu_users a{
    float:none!important;

}
.file_checkbox{
    width:20px!important;
}
.resource_icon{
    width:20px!important;
}
.tags_margin{
    margin-right:3px;
}

/* FOR GROUP PAGE SECTION*/
}
