.c3-nav>ul{
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.c3-nav>ul>li{
	position:relative;
	display:block
}

.c3-nav>ul>li>a{
	position:relative;
	display:block;
	padding:19.5px 15px;

}

.c3-nav>ul>li>a:hover,.c3-nav>ul>li>a:focus{
	text-decoration:none;
	background-color:#eee
}

.c3-nav>ul>li.disabled>a{
	color:#777
}

.c3-nav>ul>li.disabled>a:hover,.c3-nav>ul>li.disabled>a:focus{
	color:#777;
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent
}

.c3-nav>ul .open>a,.c3-nav>ul .open>a:hover,.c3-nav>ul .open>a:focus{
	background-color:#eee;
	border-color:#428bca
}

.c3-nav>ul .nav-divider{
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}

.c3-nav>ul>li>a>img{
	max-width:none
}
.c3-nav>ul:before,.c3-nav>ul:after{
	display:table;
	content:" "
}

.c3-nav:after{
	clear:both
}
.c3-nav{
    position:relative;
    display:block;
}
.active{
    color: red;
}