.c3-nav>ul{
	padding-left:0;
	margin-bottom:0;
	list-style:none;

    color: #FFF;
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
}
.c3-nav>ul>li{
	position:relative;
	display:block
}

.c3-nav>ul>li>a{
	position:relative;
	display:block;
	padding:19.5px 15px;
}

.c3-nav>ul>li>a:hover,.c3-nav>ul>li>a:focus{
	text-decoration:none;
	background-color:#eee
}

.c3-nav>ul>li.disabled>a{
	color:#777
}

.c3-nav>ul>li.disabled>a:hover,.c3-nav>ul>li.disabled>a:focus{
	color:#777;
	text-decoration:none;
	cursor:not-allowed;
	background-color:transparent
}

.c3-nav>ul .open>a,.c3-nav>ul .open>a:hover,.c3-nav>ul .open>a:focus{
	background-color:#eee;
	border-color:#428bca
}

.c3-nav>ul .nav-divider{
	height:1px;
	margin:9px 0;
	overflow:hidden;
	background-color:#e5e5e5
}

.c3-nav>ul>li>a>img{
	max-width:none
}
.c3-nav>ul:before,.c3-nav>ul:after{
	display:table;
	content:" "
}

.c3-nav:after{
	clear:both
}
.c3-nav{
    position:relative;
    display:block;
}

.logo-hor
{
    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
}

.comments_list{
	position:relative;
	overflow:hidden;
	padding-left:20px;
	margin-left:-20px;
	padding-top:25px
}

.comments_list .searched-item{
	background:#fffacd
}

.comments_list h2.title{
	color:#afa56a;
	margin-bottom:20px;
	background:url(/images/1426776549/comments.gif) no-repeat left 65%;
	padding-left:23px;
	font-size:22px;
	font-family:Verdana,sans-serif;
	letter-spacing:-1px
}

.comments_list h2.title .subscribe_comments{
	font-size:12px;
	cursor:pointer;
	color:#999;
	margin-left:2px
}

.comments_list .comment_item .author_banned{
	margin-bottom:20px;
	font:normal 16px/110% Verdana,sans-serif;
	color:#666
}

.comments_list .comment_item .author_banned a.favorite{
	display:inline-block;
	margin-left:5px;
	width:15px;
	height:13px;
	background:url(/images/1426776549/favorite.gif)
}

.comments_list .comment_item .author_banned a.favorite.add{
	background-position:left top
}

.comments_list .comment_item .author_banned a.favorite.remove{
	background-position:left bottom
}

.comments_list .comment_item .author_banned i.favorite{
	cursor:pointer;
	font-size:12px;
	display:inline-block;
	margin-top:7px
}

.comments_list .comment_item .author_banned i.favorite.add{
	color:#6da3bd
}

.comments_list .comment_item .author_banned i.favorite.add:hover{
	color:#4d7285
}

.comments_list .comment_item .author_banned i.favorite.remove{
	color:orange
}

.comments_list .comment_item .info{
	font-size:11px;
	font-family:tahoma,sans-serif;
	line-height:18px;
	position:relative
}

.comments_list .comment_item .info.is_topic_starter{
	background:#f5fce5
}

.comments_list .comment_item .info.is_new{
	background:#e8e8ff
}

.comments_list .comment_item .info.is_author{
	background:oldlace
}

.comments_list .comment_item .info .voting{
	float:right;
	margin-top:2px;
	margin-right:2px
}

.comments_list .comment_item .info.deleted{
	background:#dcdcdc
}

.comments_list .comment_item .info .voting .plus{
	width:11px;
	height:15px;
	display:block;
	float:right;
	margin-top:2px;
	margin-left:13px
}

.comments_list .comment_item .info .voting .minus{
	width:11px;
	height:15px;
	display:block;
	float:right;
	margin-top:2px;
	margin-left:7px
}

.comments_list .comment_item .info .voting a.plus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat 0 -16px
}

.comments_list .comment_item .info .voting a.minus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -12px -16px
}

.comments_list .comment_item .info .voting a:hover.plus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat 0 0
}

.comments_list .comment_item .info .voting a:hover.minus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -12px 0
}

.comments_list .comment_item .info .voting span.plus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -24px 0
}

.comments_list .comment_item .info .voting span.minus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -24px -16px
}

.comments_list .comment_item .info .voting.voted_plus a.plus,.comments_list .comment_item .info .voting.voted_plus span.plus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat 0 0
}

.comments_list .comment_item .info .voting.voted_plus a.minus,.comments_list .comment_item .info .voting.voted_plus span.minus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -24px -16px
}

.comments_list .comment_item .info .voting.voted_minus a.plus,.comments_list .comment_item .info .voting.voted_minus span.plus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -24px 0
}

.comments_list .comment_item .info .voting.voted_minus a.minus,.comments_list .comment_item .info .voting.voted_minus span.minus{
	background:url(/images/1426776549/icos/icons_vote_posts.gif?r=2) no-repeat -12px 0
}

.comments_list .comment_item .info .voting .mark{
	float:right;
	color:#a9a9a9;
	font-weight:bold;
	padding-top:2px;
	font-size:13px;
	font-family:Arial,Helvetica,sans-serif
}

.comments_list .comment_item .info .voting .mark span{
	color:#a9a9a9
}

.comments_list .comment_item .info .voting .mark a{
	text-decoration:none;
	color:#a9a9a9
}

.comments_list .comment_item .info .voting .mark.positive span{
	color:#390
}

.comments_list .comment_item .info .voting .mark.negative span{
	color:#c00
}

.comments_list .comment_item .info a.avatar{
	float:left;
	margin-right:10px;
	width:24px;
	height:24px;
	display:block;
	overflow:hidden;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.comments_list .comment_item .info a.avatar img{
	display:block;
	width:24px;
	height:24px
}

.comments_list .comment_item .info a.username{
	float:left;
	margin-top:3px;
	margin-right:10px;
	display:block;
	color:#666;
	font-weight:bold
}

.comments_list .comment_item .info a:hover.username{
	color:#333
}

.comments_list .comment_item .info time{
	display:block;
	margin-top:3px;
	font-size:10px;
	color:#666;
	float:left;
	margin-right:10px
}

.comments_list .comment_item .info time .time_changed{
	font-style:italic
}

.comments_list .comment_item .info a.link_to_comment{
	display:block;
	margin-top:3px;
	font-size:11px;
	float:left;
	margin-right:10px
}

.comments_list .comment_item .info .to_chidren{
	margin-left:4px;
	display:block;
	float:left
}

.comments_list .comment_item .info a.link_to_comment,.comments_list .comment_item .info a.to_parent{
	text-decoration:none
}

.comments_list .comment_item .info a.favorite{
	display:block;
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:15px;
	height:13px;
	background:url(/images/1426776549/favorite.gif)
}

.comments_list .comment_item .info a.favorite.add{
	background-position:left top
}

.comments_list .comment_item .info a.favorite.remove{
	background-position:left bottom
}

.comments_list .comment_item .info a.to_parent{
	display:block;
	float:left;
	margin-top:3px
}

.comments_list .comment_item .info i.favorite{
	cursor:pointer;
	font-size:12px;
	display:inline-block;
	margin-top:7px
}

.comments_list .comment_item .info i.favorite.add{
	color:#6da3bd
}

.comments_list .comment_item .info i.favorite.add:hover{
	color:#4d7285
}

.comments_list .comment_item .info i.favorite.remove{
	color:orange
}

.comments_list .comment_item .info .show_tree{
	cursor:pointer;
	display:block;
	float:left;
	margin-left:4px;
	margin-right:10px;
	color:#6da3bd;
	font-size:11px;
	display:inline-block;
	margin-top:7px;
	text-decoration:underline;
	background:url(/images/1426776549/show_tree_icon.png) no-repeat 0 0;
	text-indent:-9999px;
	width:7px;
	height:10px;
	display:block
}

.comments_list .comment_item .info .show_tree:hover{
	background:url(/images/1426776549/show_tree_icon.png) no-repeat -7px 0
}

.comments_list .comment_item .info .show_tree.open{
	background:url(/images/1426776549/show_tree_icon.png) no-repeat -14px 0
}

@media screen and (min-width:1025px){
	.comments_list .comment_item:hover>.comment_body .info>.folding-dot-holder{
		display:block
	}

}

.comments_list .comment_item .comment_body.is_selected{
	position:relative
}

.comments_list .comment_item .comment_body.is_selected:after{
	content:"";
	font-family:Webdings;
	position:absolute;
	top:0;
	height:24px;
	width:20px;
	left:-20px;
	background:url(/images/1426776549/comment.selected.icon.png) no-repeat 0 0
}

.comments_list .comment_item .info .folding-dot-holder{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px
}

.comments_list .comment_item .info .folding-dot{
	width:500px;
	height:5px;
	background:red;
	right:1px;
	top:9px;
	position:absolute;
	background:url(/images/1426776549/bg-folding-dot-light.png) repeat-x 5px 0
}

.comments_list .comment_item .message{
	font-size:14px;
	font-family:Arial,sans-serif;
	line-height:140%;
	padding-bottom:5px;
	padding-top:10px
}

.comments_list .comment_item .message.bad.focused{
	opacity:1
}

.comments_list .comment_item .message.bad5{
	opacity:.2;
	background:#fff
}

.comments_list .comment_item .message.bad4{
	opacity:.35;
	background:#fff
}

.comments_list .comment_item .message.bad3{
	opacity:.5;
	background:#fff
}

.comments_list .comment_item .message.bad2{
	opacity:.65;
	background:#fff
}

.comments_list .comment_item .message.bad1{
	opacity:.8;
	background:#fff
}

.comments_list .comment_item .message.bad:hover{
	opacity:1
}

.comments_list .comment_item .reply a.reply_link{
	font-size:11px;
	text-decoration:none;
	border-bottom:1px dashed;
	margin-right:10px
}

.comments_list .comment_item .reply a.edit_link{
	font-size:11px;
	text-decoration:none;
	border-bottom:1px dashed
}

.comments_list .comment_item .reply a.abuse_link{
	display:none
}

.comments_list .comment_item .comment_body:hover>.reply a.abuse_link{
	display:inline;
	cursor:pointer;
	font-size:11px;
	text-decoration:none;
	border-bottom:1px dashed;
	color:#c6c6c6;
	margin-left:30px
}

.comments_list .comment_item .comment_body:hover>.reply a.abuse_link:hover{
	color:#adadad
}

.comments_list .comment_item .reply .abuse_success{
	font-size:11px;
	text-decoration:none;
	color:#c6c6c6;
	margin-left:30px;
	font-style:italic
}

.comments_list .comment_item .reply_form_placeholder form{
	padding-top:20px
}

.comments_list .comment_item .reply_comments{
	margin-top:20px
}

.comments_list .comment_item .edit_time_left{
	font-size:11px;
	color:#777
}

.comments_list .comment_item .reply_comments .comment_item{
	margin-left:20px
}

.comments_list .comment_item .reply_comments .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item .comment_item{
	margin-left:0
}

.comments_list .comment_item_plain{
	overflow:hidden;
	margin-bottom:10px
}

.comments_list .comment_item_plain .post_info{
	font-family:Tahoma,sans-serif;
	font-size:10px;
	margin-bottom:5px;
	width:140px;
	float:left
}

.comments_list .comment_item_plain .post_info .count{
	color:red
}

.comments_list .comment_item_plain .comment_item{
	margin-left:150px
}

.comments_list .comment_item_plain .comment_item .info{
	overflow:hidden
}
.logo-vert {
    width: 360px;
    margin: -52px 0px -52px -40px;
    transition: width 0.3s ease 0s;
}
img.circle {
    border-radius: 100%;
}

.container_groups{
	width:80%;
	min-height: 65px;
	list-style: none;
	height: 220px;
}

.container_groups > h4{
	margin-left: 15px;
}

.container_groups > .desc_panel > .description_group{
	margin-top: 10px;
	margin-left: 15px;
	height: 110px;
	overflow: hidden;
}

.group-tile {
    width: 30%;
    list-style: none;
    float: left;
    margin: 5px;
	border-radius: 5px;
}

.group-tile > hr {
    margin: 0;
}

.modal.modal-wide .modal-dialog {
	width: 75%;
}

.modal-body {
	max-height: 75%;
}

.modal-wide .modal-body {
	 overflow-y: auto;
 }

.margin-right-glyphicon{
	margin-right: 0.5em;
}