html,body {
	background-color: #333333;
	font-family: sans-serif;
	font-size: 14px;
	margin:0px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

input {
    border:solid 1px #AAA;
}

a:link{
	color:#111;	
}

a:hover{
	color:#555;
}

a:visited{
	color:#777;
}

div.root{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

div.wrap{
	background-color: #444;

	border-top-right-radius: 25px;
	border-top-left-radius: 25px;

	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 25px;
	

	-moz-box-shadow: 0px 0px 10px #111;
	-webkit-box-shadow: 0px 0px 10px #111;
	box-shadow: 0px 0px 10px #111;
}

/*********************************************************
 * Begin page header part
 *********************************************************/
div.header{
	width: 100%;
	height: 70px;
}

.header div{
	margin-top:25px;
	float:right;
	padding-right:10px;
}

.header ul{
	padding-left:0px;
}

.header li{
	list-style: none;
    list-style-type: none;
    display: inline;
    font-size:18px;
    padding-right:20px;
}

.header a:visited{
	color:#FFF;
	text-decoration:none;
}

.header a:link{
	color:#FFF;
	text-decoration:none;
}

.header a:hover{
	text-decoration:underline;
}

div.header-title{
	float:left;
	font-size:26px;
	margin-top:20px;
	margin-left:25px;
	color:#FFF;
}

.header-title p{
	margin:0px;
}
/*********************************************************
 * End page header part
 *********************************************************/

/*********************************************************
 * Begin menu part
 *********************************************************/
div.list-menu{
	width:100%;
}

.list-menu li{
	color:#FFF;
	list-style: none;
    list-style-type: none;
    display: inline;
    font-size:12px;
    padding-left:5px;
    padding-right:5px;
}
.list-menu li.currentUser {
    float: left;
}

.list-menu ul{
	text-align:right;
	padding-right:25px;
	margin-top:10px;
	margin-bottom:10px;
}

.list-menu a{
	color:#FFF;
	text-decoration:none;
}

.list-menu a:hover{
	color:#FFF;
	text-decoration:underline;
}
/*********************************************************
 * End menu part
 *********************************************************/

/*********************************************************
 * Begin notification part
 *********************************************************/
div#lift__noticesContainer__{
	margin-left:10px;	
	margin-right:10px;
}

#lift__noticesContainer__ ul{
	margin:0px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

#lift__noticesContainer__ li{
	list-style:none;
}

div#lift__noticesContainer___error{
	background-color:#FFCCCC;
	border:1px solid;
	border-color:#F00;

	margin-top:2px;
	margin-bottom:2px;
}

div#lift__noticesContainer___notice{
	background-color:#EEEEEE;
	border:1px solid;
	border-color:#CCC;

	margin-top:2px;
	margin-bottom:2px;
}
/*********************************************************
 * End notification part
 *********************************************************/


/*********************************************************
 * Begin breadcrumb part
 *********************************************************/
div.breadcrumb{
	width: 100%;
	background-color: #222;
	color: #FFF;
}

.breadcrumb p{
	padding-top:5px;
	padding-bottom:5px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;
}

.breadcrumb span{
	padding-right:10px;
	font-size:12px;
}

.breadcrumb a:link{
	color:#FFF;
	text-decoration:none;
}

.breadcrumb a:hover{
	color:#FFF;
	text-decoration:underline;
}

.breadcrumb a:visited{
	color:#FFF;
	text-decoration:none;
}
/*********************************************************
 * End breadcrumb part
 *********************************************************/

/*********************************************************
 * Begin content part
 *********************************************************/
div.content-wrap{
	background-color: #FFF;
	min-height: 500px;
	padding-left:15px;
	padding-right:15px;
	overflow: auto;
}

div.content-header{
	width:100%;
}

.content-header h1{
	margin-top:0px;
	margin-left:10px;
	margin-bottom:5px;
	padding-top:15px;
}

div.content-page{
	float:left;
	width:75%;
	background-color: #FFF;
}

.content-page div{
	margin:5px;
	padding-top:6px;
	padding-left:5px;
	padding-right:10px;
	width:90%;
}

/*********************************************************
 * End content part
 *********************************************************/

/*********************************************************
 * Begin right panel part
 *********************************************************/
div.right-panel{
	float:right;
	width:25%;
}

div.right-panel-content{
	background-color:#EEE;
	margin:5px 10px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding:0px 5px 5px 5px;
}

.right-panel span{
	font-weight:bold;
}

div.right-panel-section{
	padding:10px 5px 10px 10px;
	border-top:1px solid;
	border-color:#BBB;
	border-radius:0px;
	-moz-border-radius: 0px;
}

div.right-panel-section-first{
	border-top:0px;
}

.right-panel-section div{
	font-size:12px;	
}

.right-panel-section table{
	width:100%;
	padding-left:5px;
	padding-top:5px;
}

td.metadata-key{
	width:40%;
}

.right-panel-section li{
	list-style-type:none;
	padding-bottom:5px;
}

.right-panel-section ul{
	padding-left:10px;
	margin-bottom:0px;
	margin-top:7px;
}
/*********************************************************
 * End right panel part
 *********************************************************/

/*********************************************************
 * Begin file table part
 *********************************************************/
table.file-table{
	width:100%;
	font-size:12px;
	border-collapse:collapse;
}

.file-table td{
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#CCC;
	padding:2px;
}

tr.file-table-name{
	width:70%;
}

td.file-table-date td.file-table-owner{
	width:15%;
}

td.file-table-date{
	text-align:right;
}
/*********************************************************
 * End file table part
 *********************************************************/

/*********************************************************
 * Begin user menus part (login, lostpassword forms, etc...)
 *********************************************************/

div.user-form {
	margin:0px;
	padding:0px;
}

.user-form div{
    margin-left:10px;
    margin-right:10px;
    margin-top:0px;
    padding:0px;
}

.user-form h1{
    font-size: 16px;
    margin-top:0px;
}

div.user-form-content{

    background-color: #EEE;
    padding: 10px 10px 10px 10px;
    margin:0px;
}

.user-form-content table{
    width:100%;
}

td.user-form-key{
    width:40%;
    text-align:right;
    padding-right:20px;
}

.user-form-value input{
    padding:3px;
    margin:2px;
    width:50%;
}

.user-form-submit input{
    margin-left:2px;
    margin-top:5px;
}

/*********************************************************
 * End user menus part
 *********************************************************/

/*********************************************************
* Begin wiki part
*********************************************************/

div.wiki-content{
    padding-top:0px;
}

.wiki-content p{
    margin-top:0px;
}

/*********************************************************
* End wiki part
*********************************************************/