table.messenger
{	text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    color: #404040;
    width: 230px;
    background-color: #fafafa;
    border: 1px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
    word-wrap: break-word; }

.messengerHd
{	border-bottom: 2px solid #d79900;
background-color: #fff2ba;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;}


.messengerBod p
{	text-align: left;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #404040;
    background-color: #fafafa;
    text-indent: -8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    }


.button {
    border: none;
    background: url('/images/edit_remove3.png') no-repeat;
    width:94px;
    height: 28px;
    color:#FFFFFF;
    font-size:14px;
    text-indent:5px;
    font-weight: bold;
    text-decoration:none;
    text-align:center;
}


