 .popup {
   
  /* position: absolute;
   top:100px;
   left: 300px;
   z-index: 100;
   text-align: center;
   
   border-color: green;
   border : 2;
   background-color: #2c3033;
   */
  height: 500px;
   padding :10px;
   display: none;
   width :500px;


 }



 .my_body {

     height: 70%;



 }
 .dropzone {
	background: #eee;
	border: 1px solid #ccc;


	height: 85%;

     border-radius: 5px;
	
	margin-bottom: 5px;

	padding: 10px ;


 }


 .area{
   width: 60%;
   margin-top: 5px;
   display: none;



 }

 .filecontainer{
 	
   border: 2px;
     overflow: auto;
     margin-bottom: 10px;
 }
 .filecontainer:after, .barcontainer:after{
     clear: both;
 }

 .bartext {
 	z-index: 101;
 	position: absolute;
 	width: inherit;
 	text-align: center;


 }
 .bar{
 	
 	background-color: green;
 	width :1%;
 	height: 100%;
 }

 .barcontainer {
 	width: 140px;
 	height: 20px;
 	border :1px;
 	
 	background-color:#87b597; 
 	float: right;
 	margin-left: inherit;
 	right: 60px;
 	
 }
 .lineContainer{
 	float : left;
   overflow: hidden;
 }
 .removebutton{
 	
 	
 	right: 15px;
 	text-align:center;
	cursor: pointer;
   width: 10%;
   float: right;
 	
 }
 .cl{
 	margin-right: 5px;
   opacity: 1;
 	float: right;
 	/*
 	text-align: center;
 	
 	
 	cursor: pointer;
   */
 }
 #dropzone:hover {
     background-color : #FFb000;

 }

 
