 .popup {
   
  /* position: absolute;
   top:100px;
   left: 300px;
   z-index: 100;
   text-align: center;
   
   border-color: green;
   border : 2;
   background-color: #2c3033;
   height: 500px;

   */
  
   padding :1px;
   display: none;
   width :500px;


 }
 .dropzone {
	background: #eee;
	border: 1px solid #ccc;


	height: 230px;
	
	margin-bottom: 5;

	padding: 10px ;


 }


 .area{
   width: 60%;
   margin-top: 5px;
   display: none;



 }

 .filecontainer{
 	
   border: 2;
 }

 .bartext {
 	z-index: 101;
 	position: absolute;
 	width: inherit;
 	text-align: center;


 }
 .bar{
 	
 	background-color: green;
 	width :1%;
 	height: 100%;
 }

 .barcontainer {
 	width: 140px;
 	height: 20px;
 	border :1px;
 	
 	background-color:#87b597; 
 	float: right;
 	margin-left: inherit;
 	right: 60;
 	
 }
 .lineContainer{
 	float : left;
   overflow: hidden;
 }
 .removebutton{
 	
 	
 	right: 15;
 	text-align:center;
	cursor: pointer;
   width: 10%;
   float: right;
 	
 }
 .cl{
 	margin-right: 5px;
   opacity: 1;
 	float: right;
 	/*
 	text-align: center;
 	
 	
 	cursor: pointer;
   */
 }
 .my_header{
   text-align: center;


 }

 
