<div class="lift:surround?with=default">
    <div class="lift:bind-at?name=left-panel">
        <div class="col-sm-9 col-md-9">
            <div class="row lift:GroupPage.info">
                <div class="lift:GroupPageFiles.embedTabMenu"></div>
                <ul class="nav nav-pills navbar-right">
                    <li>
                        <a class="send_request" title="Вступить в группу"><i class="glyphicon glyphicon-plus plus"></i>Вступить в группу</a>
                    </li>
                </ul>
            </div>


            <div class="row" id="group-tab-wrapperwell" >

                <div class="lift:TableSorters.defaultTableSorter"></div>

                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <div class="row-fluid tab-content">
                        <div id="files" class="lift:GroupPageFiles tag-pane">
                            <div>
                                <ul class="breadcrumb">
                                    <li class="base_files_path">
                                        <a class="link" href="#">Group</a> <span class="divider"></span>
                                    </li>
                                    <li class="bcrumb">
                                        <a class="link" href="#">dir</a> <span class=""></span>
                                    </li>
                                    <li class="pull-right">
                                        <a type="button" href="#new-directory" data-toggle="modal" data-toggle="tooltip" title="Создать новую директорию" class="new_directory_btn">
                                            <i class="glyphicon glyphicon-folder-open"> </i>
                                        </a>
                                        &nbsp;
                                        <a type="button" href="#upload_form" data-toggle="modal" data-toggle="tooltip" title="Загрузить ресурс" class="upload_files_btn">
                                            <i class="glyphicon glyphicon-cloud-upload"> </i>
                                        </a>
                                        &nbsp;
                                        <a type="button" href="#delete_selected_form" data-toggle="modal" data-toggle="tooltip" title="Удалить ресурс" class="delete_selected_form_button">
                                            <i class="glyphicon glyphicon-remove"> </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="file-table">
                               <table class="table table-striped table-hover" id="table-sort">
                                    <thead>
                                        <tr>
                                            <th class="file_checkbox" style="width: 1px"><input type="checkbox" name="check_all"/></th>
                                            <th class="file-table-name"><b>Название</b></th>
                                            <th class="file-table-owner"><b>Владелец</b></th>
                                            <th class="file-table-rules" style="width: 7%"><b>Права</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="parentfolder drop">
                                            <td></td>
                                            <td class="parentfolder_td file-table-parent-name"><a class="parent_link" href="#"><i class="glyphicon glyphicon-arrow-left"></i> ...</a></td>
                                            <td class="parentfolder_td file-table-owner"></td>
                                            <td class="file-table-rules acl_cont"></td>
                                        </tr>
                                        <tr class="child" id="123" onclick="" ondrop="" ondrag="">
                                            <td><input class="select_resource" name="check_file" type="checkbox"/></td>
                                            <td class="child_td file-table-name"><a class="link" href="#"><img class="icon"/><span class="name"></span></a>
                                                <span class="description_box last_changed short_description"></span></td>
                                            <td class="child_td file-table-owner"><a class="owner" href="#">Aphreet</a></td>
                                            <td class="file-table-rules acl_cont">
                                                <a href="#acl" class="acl_button" data-toggle="modal">
                                                    <span class="rules">rw--</span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="file-view">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <table class="table table-striped" style="width: 90%">
                                            <thead>
                                            <tr>
                                                <th style="width: 20%"></th>
                                                <th style="width: 80%"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-calendar"></i> Дата создания:</td>
                                                <td><span class="data_file">Sept 16th, 2012</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-user"></i> Владалец:</td>
                                                <td><span class="owner_file">Kobtsev Sergey</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-hdd"></i> Размер:</td>
                                                <td><span class="size_file">196,8 Мб</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-info-sign"></i> Описание:</td>
                                                <td>
                                                    <span class="hide description_submit_func"></span>
                                                    <a href="#" id="description" data-type="text" data-pk="1"
                                                       data-placeholder="File description..." data-original-title="Edit description"
                                                       class="editable editable-click description_box">
                                                        Engineering Science is a comprehensive textbook suitable for all <br/>
                                                        vocational and pre-degree courses.
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-tags"></i> Tags:</td>
                                                <td>
                                                    <span class="hide edit_tags_form_func"></span>
                                                    <a href="#" id="edit_tags_form" data-type="select2" data-pk="1"
                                                       data-original-title="Enter tags">
                                                        html, javascript
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="glyphicon glyphicon-tags"></i> Metadata</td>
                                                <td>
                                                    <a class="metadata_btn cursor_pointer editable"><i id="icon_meta"
                                                                                                       class="test glyphicon glyphicon-chevron-up"></i>Metadata</a>

                                                    <div id="meta" class="edit_metadata hide">
                                                        <div class="edit_meta">
                                                            <table class="tablesorter table_meta">
                                                                <thead>
                                                                <tr class="metadata_form_header">
                                                                    <th>Key</th>
                                                                    <th>Value</th>
                                                                    <th style="width:70px;"></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="metadata_container">
                                                                <tr class="metadata_form">
                                                                    <td><input class="metadata_key" value="" readonly/></td>
                                                                    <td><input type="text" class="metadata_value" value=""/></td>
                                                                    <td>
                                                                        <button class="close remove_metadata">&times;</button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <hr/>
                                                            <div class="add_metadata">
                                                                <input name="key" class="span5 input_meta_add" type="text" placeholder="Keyword">
                                                                <input name="value" class="span5 input_meta_add" type="text" placeholder="Value">
                                                                <button type="submit" name="btn_add_metadata"
                                                                        class="btn_add_metadata btn btn-primary">Add
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="acl" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Настройка прав доступа</h4>
                                        </div>
                                        <div class="modal-body edit_access">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Читать</th>
                                                    <th>Писать</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="">
                                                    <td class="">Участники группы</td>
                                                    <td class=""><input class="group_read" type="checkbox"></td>
                                                    <td class=""><input class="group_write" type="checkbox"></td>
                                                </tr>
                                                <tr class="">
                                                    <td class="">Гости группы</td>
                                                    <td class=""><input class="all_read" type="checkbox"></td>
                                                    <td class=""><input class="all_write" type="checkbox"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <input type="hidden" id="name_resource" value="default">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-warning">Отмена</button>
                                            <button type="button" class="btn btn-success submit_acl">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="new-directory" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Создать дирректорию</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="new_directory_form" class="form-horizontal">
                                                <fieldset>
                                                    <table class="table table-striped table_ul">
                                                        <colgroup>
                                                            <col style="width: 125px">
                                                            <col style="width: 300px">
                                                            <col style="width: 10%">
                                                        </colgroup>
                                                        <tbody class="t_tbody">
                                                        <tr>
                                                            <td><i class="glyphicon glyphicon-font margin-right-glyphicon"></i>Название <span style="color: red;">*</span></td>
                                                            <td>
                                                                <input class="form-control" type="text" name="name" required
                                                                       placeholder="Название дирректории">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="glyphicon glyphicon-info-sign margin-right-glyphicon"></i>Описание <span style="color: red;">*</span></td>
                                                            <td >
                                                                <textarea class="description form-control" cols="500" rows="2" type="text"
                                                                          name="description" required
                                                                          placeholder="Описание дирректории"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td class="tags"><i class="glyphicon glyphicon-tags margin-right-glyphicon"></i>Теги </td>
                                                            <td><input class="form-control current_tags" type="text" name="tags" required placeholder="docs, main, etc..." ></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-warning cancel">Отмена</button>
                                            <button type="submit" class="btn btn-success" form="new_directory_form">Создать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="delete_selected_form" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Удалить русурс</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Вы уверены, что хотите удалить выбранные ресурсы?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-warning cancel">Отмена</button>
                                            <button type="button" class="btn btn-success" form="new_directory_form">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js"></script>
                            <!-- The Templates plugin is included to render the upload/download listings -->
                            <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
                            <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
                            <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
                            <!-- The Canvas to Blob plugin is included for image resizing functionality -->
                            <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
                            <!-- blueimp Gallery script -->
                            <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

                            <link href="/scripts/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css" type="text/css" rel="stylesheet"/>
                            <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js"></script>
                            <!-- The basic File Upload plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js"></script>
                            <!-- The File Upload processing plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-process.js"></script>
                            <!-- The File Upload image preview & resize plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-image.js"></script>
                            <!-- The File Upload audio preview plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-audio.js"></script>
                            <!-- The File Upload video preview plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-video.js"></script>
                            <!-- The File Upload validation plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-validate.js"></script>
                            <!-- The File Upload user interface plugin -->
                            <script src="/scripts/jQuery-File-Upload-9.9.3/js/jquery.fileupload-ui.js"></script>
                            <!-- The main application script -->
                            <script src="/scripts/js/upload.js" type="text/javascript"></script>
                            <script src="/scripts/js/groups.js" type="text/javascript"></script>
                            <!--<script src="/scripts/jQuery-File-Upload-9.9.3/js/main.js"></script>-->
                            <div id="upload_form" class="modal modal-wide">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Pагрузка ресурса в систему</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="file_upload">
                                                <!-- The file upload form used as target for the file upload widget -->
                                                <form id="file_upload_form" action="path" method="POST" enctype="multipart/form-data">
                                                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                                    <div class="row fileupload-buttonbar">
                                                        <div>
                                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                                            <span class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>Add files...</span>
                                                                <input type="file" name="files[]" multiple>
                                                            </span>
                                                            <button type="submit" class="btn btn-primary start">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span>Start upload</span>
                                                            </button>
                                                            <button type="reset" class="btn btn-warning cancel">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                                <span>Cancel upload</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- The table listing the files available for upload/download -->

                                                    <div role="presentation" class="table table-striped">
                                                        <ul class="files">
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="template-upload fade">
        <table class="table">
            <tbody>
                <tr>
                    <td rowspan="2">
                        <span class="preview"></span>
                    </td>
                    <td>
                        <span class="name">{%=file.name%}</span>
                        <strong class="error text-danger"></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="size">Processing...</span>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    </td>
                </tr>
                <tr>
                    <td style="min-width:120px"><i class="glyphicon glyphicon-info-sign"></i> Описание<span style="color: red">*</span></td>
                    <td class="item-required">
                       <textarea id="description_{%=file.name%}" class="description form-control no_padding_right" required cols="100" rows="2"
                            type="text" name="description_{%=file.name%}" placeholder="Описание файла"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="tags"><i class="glyphicon glyphicon-tags"></i> Теги</td>
                    <td class="item-required">
                        <input class="input_box_tags form-control" required id="tags_{%=file.name%}" type="text" name="tags_{%=file.name%}" placeholder="docs, main, etc..." >
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                        {% } %}
                        {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                        {% } %}
                    </td>
                </tr>
            </tbody>
        </table
    </li>
{% } %}
</script>
                            <!-- The template to display files available for download -->
                            <script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

                            <script id="template-upload-replace" type="text/x-tmpl">
{%


for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="template-upload fade">
        <table class="table">
            <tbody>
                <tr>
                    <td rowspan="2">
                        <span class="preview"></span>
                    </td>
                    <td>
                        <span class="name">{%=file.name%}</span>
                        <strong class="error text-danger"></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="size">Processing...</span>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                        {% } %}
                        {% if (!i) { %}
                            <button class="btn btn-warning cancel cancel-replace" onclick="$('.fileinput-button').removeAttr('disabled');">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                        {% } %}
                    </td>
                </tr>
            </tbody>
        </table
    </li>
{% } %}
</script>
                            <!-- The template to display files available for download -->
                            <script id="template-download-replace" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

                            <div id="replace_form" class="modal modal-wide">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Замена ресурса</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="file_replace">
                                                <!-- The file upload form used as target for the file upload widget -->
                                                <form id="file_replace_form" action="path" method="POST" enctype="multipart/form-data">
                                                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                                    <div class="row fileupload-buttonbar">
                                                        <div>
                                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                                            <span class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-plus"></i>
                                                                <span>Add files for replace...</span>
                                                                <input type="file" name="files[]" class="add-replace-file">
                                                            </span>
                                                            <button type="submit" class="btn btn-primary start">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span>Start replace</span>
                                                            </button>
                                                            <button type="reset" class="btn btn-warning cancel close-replace" onclick="$('.close').click();">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                                <span>Cancel replace</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- The table listing the files available for upload/download -->

                                                    <div role="presentation" class="table table-striped">
                                                        <ul class="files">
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lift:bind-at?name=content">
        <div class="col-sm-3 col-md-3">
            <div class="lift:GroupPageFiles">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Resource name</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-content">
                            <h4><i class="glyphicon glyphicon-info-sign"></i> Description</h4>
                            <p class="list-group-item-text">
                                <span class="hide description_submit_func"></span>
                                <a href="#" id="description" data-type="text" data-pk="1"
                                   data-placeholder="File description..." data-original-title="Edit description"
                                   class="editable editable-click description_box">
                                    Engineering Science is a comprehensive textbook suitable for all <br/>
                                    vocational and pre-degree courses.
                                </a>
                            </p>
                        </div>
                        <hr>
                        <div class="row-content">
                            <h4><i class="glyphicon glyphicon-tags"></i> Tags</h4>
                            <p class="list-group-item-text">
                                <span class="hide edit_tags_form_func"></span>
                                <span class="hide edit_tags_form_func"></span>
                                <a href="#" id="edit_tags_form" data-type="select2" data-pk="1" data-original-title="Enter tags">
                                    html, javascript
                                </a>
                            </p>
                        </div>
                        <hr>
                        <a type="button" href="#" id="view_btn" class="btn btn-primary btn-block view_btn">
                            <i class="icon-white icon-eye-open"></i>
                            <span>Просмотреть</span>
                        </a>
                        <a type="button" href="#" id="download_btn" class="btn btn-primary btn-block download_btn">
                            <i class="icon-white glyphicon glyphicon-download-alt"></i>
                            <span>Скачать</span>
                        </a>
                        <a type="button" href="#replace_form" id="replace_file_btn" data-toggle="modal" title="Delete file" class="btn btn-primary btn-block btn-warning replace_file_btn">
                            <i class="icon-white glyphicon glyphicon-refresh"></i>
                            <span>Заменить</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>